/*--- Section 1 ---*/
@media (min-width: 768px) {
    .hero-1 {
        font-size: 4rem !important;
    }
}
.hero-1 {
    height: 129vh !important;
    font-family: serif;
    font-size: 3rem;
    opacity: .8;
    margin: 5vh 0 0 0;

    p, a {
        color: #fff;
        margin: auto;
        text-shadow: -2px -1px black;
    }

    .btn {
        width: 11vw !important; 
        background: transparent; 
        border: 2px solid #fff; 
        margin: -27vh 0 19vh 48vw;
    }

    .title {
        width: 45rem;
        margin: auto;
        padding-top: 24vh;

        @media (min-width: 768px) {
            padding: 25vh 0 0 0;
        }

        @media (max-width: 767px) {
                    margin: 11vw;
                    width: auto;
                    padding: 33vh 0 0 0;
        }
    }
    .paragraph-text {
        width: 51vw;
        margin: 216px;
        font-size: x-large;
    }
}
